/* Set the default font family for the entire page */
body {
  /* Fallback fonts are listed in order in case the first one is unavailable */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* Prevent horizontal scrolling by hiding any content that overflows horizontally */
  overflow-x: hidden;
}
